@import url('https://fonts.googleapis.com/css?family=Roboto:300');
.lit-4-cols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
}
.lit-video-wrapper {
    /* padding-top: calc(9% / 16 * 100); */
    position: relative;
    border: 1px solid #8159D9;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.93;
    border-radius: 4px;
    overflow: hidden;
    max-width: 345px;
    height: 195.5px;
}
.lit-video-wrapper:hover{
    box-shadow: 0px 0px 12px black;
}
.lit-video-overlay{
    width: 100%;
    height: 100%;
    background:linear-gradient(141deg, #13042E 25%, #22073D 40%, #13042E 55%);
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.active .lit-video-overlay{
    /* top: -50%; */
    opacity: 0;
    pointer-events: none;
}

.lit-video-wrapper:hover{
    opacity: 1;
}
.active.lit-video-wrapper iframe{
    opacity: 1;
    visibility: visible;
}
.lit-video-wrapper iframe {
    transition: 2s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}
.lit-video-description {
    width: 100%;
    text-align: center;
    justify-content: center;
    background: transparent;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    font-size:32px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: calc(91% - (9% / 16 * 100));
    transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    padding: 0 12px;
    box-sizing: border-box;
}
.active .lit-video-description {
    opacity: 0;
    pointer-events: none;
    /* padding-top: 200px; */
}
.btn-lit-video-unlock {
    background: transparent;
    color: white;
    border: none;
    font-size: 0.8em;
    text-shadow: 1px 2px black;
    pointer-events: none;
}
.lit-video-info {
    font-size: 0.4em;
    color: #8159D9;
    text-shadow: 2px 2px 0px black;
}
