#btn-lit-gate-video {
    background:#5E36B7;
    color: white;
    border-radius: 5px;
    border: 2px solid #BFA1FF;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
#btn-lit-gate-video:hover{
    background: #23073E;
}
#lit-snippet, #lit-js-snippet{
    margin-top: 12px;
    margin-bottom: 0px;
}
.lit-btn-copy {
    color: #3D3D3D;
    font-size: 12px;
}